<ul class="steps">

  <li class="message-row d-flex <%= controller == 'surveys' && action == 'new' ? 'present' : 'futur' %>">
    <span>
      <strong>1. Title & Description</strong>
    </span><i></i>
  </li>

  <li class="message-row d-flex <%= controller == 'templates' && action == 'index' && params[:survey_id] ? 'present' : 'futur' %>">
    <span>
      <strong>2. Template & Questions</strong>
    </span><i></i>
  </li>

  <li class="message-row d-flex <%= controller == 'users' && action == 'index' && params[:survey_id] ? 'present' : 'futur' %>">
    <span>
      <strong>3. Choose employees</strong>
    </span><i></i>
  </li>

  <li class="message-row d-flex <%= controller == 'surveys' && action == 'edit' && params[:survey_id] ? 'present' : 'futur' %>">
    <span>
      <strong>4. Options</strong>
    </span><i></i>
  </li>

  <li class="message-row d-flex <%= controller == 'surveys' && action == 'show' && params[:survey_id] ? 'present' : 'futur' %>"">
    <span>
      <strong>5. Summary and Send</strong>
    </span><i></i>
  </li>

  <li class="futur">
    <span>
      <strong>6. View of Survey Result</strong>
    </span><i></i>
  </li>
</ul>
