<div class="navbar navbar-expand-sm navbar-light navbar-lewagon" id="navbar-wagon">
  <div class="container-fluid" id="container-navbar">
    <div class="logo-container">
      <%= link_to root_path, class: "navbar-brand" do %>
        <%= image_tag "logo_blanc_churner.png", style: "width: 150px;", id:"logo" %>
      <% end %>
    </div>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-autos centered-nav">
        <div id="nav-item-bloc">
          <li class="nav-item">
            <%= link_to "Surveys", surveys_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Employees", users_path, class: "nav-link" %>
          </li>
        </div>
        <li class="nav-item dropdown">
          <%= image_tag "profil churner.png", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
            <%= link_to "Log out", "#", class: "dropdown-item", data: {turbo_method: :delete} %>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
